.about {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    text-align: start;
    position: relative;
    height: 42rem;
}
.text {
    background-color: var(--beige);
    width: 75%;
    padding: 5% 0;
    padding-left: 8%;
}
.title {
    font-family: 'Libre Baskerville', 'Helvetica Neue';
    font-size: 3rem;
    font-weight: 700;
    color: var(--olive);
}
.description {
    color: var(--darkGrey);
    font-size: 1.25rem;
}
.contact-btn {
    background-color: var(--olive);
    padding: 1.8% 4%;
    border-radius: 4px;
    font-size: 1.25rem;
    font-size: clamp(1rem, 3vw, 1.25rem);
    cursor: pointer;
    margin-top: 23%;
}
.aboutImg1 {
    position: absolute;
    bottom: 0;
    right: 3%;
}
.aboutImg2 {
    height: 26rem;
    width: 25%;
    position: absolute;
    bottom: 0;
    right: 32%;
}
.imgs-container {
    background-color: var(--beige);
}
.olive {
    width: 25%;
    background-color: var(--olive);
    z-index: -1;
}
