.about {
    background-color: var(--lightBeige);
    width: 80%;
    margin: auto;
    height: auto;
    padding: 6%;
    font-family: 'Libre Baskerville', 'Helvetica Neue';
    font-weight: 700;
}
.text {
    color: var(--olive);
}
.title {
    font-size: 3rem;
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin-bottom: 2%;
}
.description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25rem;
    font-size: clamp(0.7rem, 3vw, 1.25rem);
    font-weight: 400;
    margin-bottom: 8%;
}
.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.card {
    width: 30rem;
    height: 26.7rem;
    background-color: var(--olive);
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 3%;
   
}
/* .card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 17%;
    width: 20%;
    height: 100%;
    background: url("../../assets/images/beige-background.svg");
    transition: 0.5s ease;
} */
.card-title {
    color: var(--lightBeige);
    font-size: 2rem;
    font-size: clamp(1rem, 3vw, 1.7rem); 
    z-index: 1;
    width: 50%;
    text-align: center;
}
.card-img-1 {
    width: 50%;
    overflow: hidden;
    align-self: flex-end;
}
.card-img-1 img {


}
@media (max-width: 600px) {
    .cards-container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        flex-direction: column;
    }
    .card-img-1 {
        width: 100%;
    }
}
@media (min-width: 600px) and (max-width: 990px) {
    .cards-container {
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (min-width: 990px) and (max-width: 1200px) {
    .cards-container {
        justify-content: center;
    }
    .card {
        width: 100%;
    }
    .card-img-1 {
        
    }
}