.footer {
    background-color: rgba(79, 74, 74, 0.703);
    display: flex;
    justify-content: space-between;
    color: var(--white);
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    text-align: start;
    padding: 4% 8%;
}
.logo {
    width: 18%;
}
.footer-menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;    
}
@media (max-width: 991px) {
    .footer {
        flex-wrap: wrap;
        justify-content: center;
    }
    .logo {
        width: 30%;
        margin: 4% 0;
    }
    .footer-menu-wrapper {
        /* margin-left: -9%; */
        padding-right: 5%;
    }
}
@media (min-width: 991px) and (max-width: 1200px) {
    .footer {
        padding: 4% 1%;
        justify-content: center;
    }
    .logo {
        width: 13%;
    }
    .footer-menu-wrapper {
        padding-right: 17%;
    }
}