.header{
    width: 668px;
height: 60px;
top: 6239px;
left: 386px;
gap: 0px;
opacity: 0px;
font-family: Libre Baskerville;
font-size: 48px;
font-weight: 500;
line-height: 59.52px;
text-align: center;
color: #6c5d7c;
margin-left: 500px;



}