.header {
    width: 100%; /* Adjust width to fill the container */
    max-width: 668px; /* Limit maximum width */
    height: auto; /* Adjust height automatically based on content */
    gap: 0px;
    opacity: 0px;
    font-family: Libre Baskerville;
    font-size: 32px;
    font-size: clamp(25px, 3vw, 32px);
    font-weight: 500;
    line-height: 1.25; /* Adjust line-height for better responsiveness */
    text-align: center;
    color: #7C7B5D;
    margin: 5% auto; /* Center horizontally */
  }
