.product-image {
  width: 100%;
  height: auto; /* Change height to auto for responsive image */
  margin-bottom: 5px; /* Add some margin for spacing */
}

.price {
  font-weight: bold;
  width: 100%; /* Adjust width to fill the container */
  text-align: right; /* Align text to the right */
  color: #988d8d;
  margin-top: 5px; /* Add margin for spacing */

}

.description {
  margin-top: 5px;
  font-size: 14px;
  color: black;
  text-align: center; /* Center-align the text */
}

.love-icon {
  width: 25px; /* Adjust width */
  font-size: 20px; /* Adjust font size */
  margin: 5px auto; /* Center horizontally */
}

.products {
  display: grid; /* Use CSS grid for layout */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Create grid columns with minimum width of 200px */
  gap: 20px; /* Add some gap between items */
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  margin-top: 20px; /* Add margin for spacing */
}

.product-card {
  width: 100%;
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin-bottom: 20px; /* Add margin for spacing */
}

.short-card {
  width: 90%; /* Adjust width */
  max-width: 250px; /* Limit maximum width */
  min-height: 100px; /* Adjust minimum height */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: space-between; /* Space items evenly */
  align-items: center; /* Center items horizontally */
  margin-bottom: 20px; /* Add margin for spacing */
  margin-top: -420px;
}


