.cardContainer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    background-color: #F5F5DC;
    /* border-radius: 8px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 8%;
    width: 100%;
    height: 16.5rem;
    font-family: 'Montserrat', sans-serif;
 
  }
/* * {
  border: 1px solid red;
} */
  
  .subscriptionDetails {
    /* padding-bottom: 2px; */
    width: 50%;
  }
  
  .subscriptionDetails h2 {
    font-size: 32px;
    font-weight: 600;
    font-family: 'Libre Baskerville', 'Helvetica Neu';
    color: #7C7B5D;
    margin-bottom: -2%;
  }
  
  .subscriptionDetails p {
    color:#7C7B5D;
    margin-bottom: -3%;
    font-family: 300;
    font-size: 20px;
  }
  
  .subscriptionForm {
    background-color:#F5F5DC;
    border-radius: 8px;
    padding-top: 2%;
    width: 50%;
  }
  
  .subscriptionForm input[type="text"] {
    width: 60%;
    height: 3rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    border-right: none;
  }
  
  .subscriptionForm button {
    width: 20%;
    height: 3rem;
    padding: 10px 15px;
    background-color:#7C7B5D;
    color: #fff;
    border-left: none;
    border-radius: 0 12px 12px 0;
    cursor: pointer;
  }
  
  .subscriptionForm button:hover {
    background-color: var(--black);
  }
  
  .subscriptionForm p {
    margin-top: 2%;
    color: #666;
    font-size: 16px;
  }
  .privacy {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
  }
  .check {
    margin-bottom: 18px;
  }

  /* Media query for smaller screens */
  @media (max-width: 900px) {
    .cardContainer {
      width: 100%;
      flex-direction: column;
      align-items: center;
      height: auto;
      margin-bottom: 0;
    }
  
    .subscriptionDetails,
    .subscriptionForm {
      width: 100%;
    }
    .subscriptionForm input[type="text"] {
      margin-bottom: 2%;
      width: 80%;
      border-radius: 4px;
    }
    .subscriptionForm button  {
      width: 45%;
      border-radius: 12px;
    }
  }
  
  