.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    gap: 2.5rem;
    background-color: var(--white);
    border: 1px solid var(--olive);
    padding: 0.2% 6%;
    width: 100%;
}
.logoContainer {
    /* width: 20%; */
}

/* @media (max-width: 600px) {
   .header {
        padding: 0 10%;
   }
} */
