*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--beige);
    padding: 0 4%;
    width: 100%;
    height: auto;
}
.text {
    text-align: left;
    padding: 5% 0;
    width: 50%;
    letter-spacing: 0.8px;
}
.text h2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 3.75rem;
    font-size: clamp(2rem, 3vw, 3.75rem);
    width: 80%;
    color: var(--olive);
    margin-bottom: 2%;
}
.text p {
    margin-bottom: 4%;
}
.text p, .hero-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    font-size: clamp(1rem, 1.5vw, 1.25rem);
}
.hero-btn {
    background-color: var(--olive);
    color: var(--white);
    border-radius: 4px;
    border: none;
    padding: 1.2% 2.8%;
    cursor: pointer;
}
.image {
    padding-top: 3%; 
    position: relative;
    width: 50%;
}
.arch {
    width: clamp(70%, 5vw, 80%);
}
.cloths {
    position: absolute;
    width: 90%;
    left: 0;
    bottom: 0;
}

@media (max-width: 1200px) {
    .text {
        width: 100%;
        text-align: center;
    }
    .text h2 {
        width: 100%;
        margin: 5% 0;
    }
    .image {
        margin: auto;
        
    }
}