.contactForm {
    display: flex;
    border: black 1px solid;
    max-width: 600px; /* Adjust the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    justify-content: right;
    margin-right: 50px;
    width: 911px;
    height: 400px;
    border: 2px 0px 0px 0px;
    margin-top: 10px;
    border: 2px solid #000000

  }
.newslettersection{
  margin-top: 350px;
  margin-bottom: 0px;
}

  
  .leftContent {
    flex: 1;
    padding: 20px;
    height: 300px;
  }
  
.rightContent {
  flex: 1;
  padding: 20px;
}

.formGroup {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.inputContainer {
  position: relative;
  margin: 0;
  padding: 0;
}

.input {
  width: 100%;
  padding: 2px;
  border: none;
  outline: none;
}

/* Adjust the hr style to remove border on top */
.hr {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 0;
  border-top: none; /* Remove the border on top */
}

.text {
  width: 104px;
  height: 24px;
  top: 46px;
  left: 52px;
  gap: 0px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: justified;
}

.contact {
  width: 300px;
  height: 34px;
  gap: 0px;
  font-family: Libre Baskerville;
  font-size: 48px;
  font-weight: 700;
  line-height: 59.52px;
  text-align: left;
  color: #7C7B5D;
  margin-top: 50px;
}

.contacttext {
  height: 24px;
  top: 38px;
  gap: 0px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: center;
}

.contactus {
  width: 157px;
  height: 34px;
  gap: 0px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  background: #7C7B5D;
  border-radius: 30px;
}

.imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 416px;
  z-index: -1; /* Bring the image behind other content */
  display: flex;
  max-width: 600px; /* Adjust the maximum width of the container */
  top: 500px;
  left: 500px;
}

.rightContent {
  width: 355px;
  height: 305px;
  top: 46px;
  left: 515px;
  gap: 0px;
  margin-top: 50px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.name {
  width: 104px;
  height: 24px;
  top: 46px;
  left: 52px;
  gap: 0px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: justified;
}

.righttext1 {
  height: 24px;
  top: 129px;
  left: 61px;
  gap: 0px;
}

.righttext2 {
  height: 48px;
  top: 158px;
  left: 61px;
  gap: 0px;
}

.righttext3 {
  height: 48px;
  top: 158px;
  left: 61px;
  gap: 0px;
}

.Footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}

.facebookicon {
  margin-left: 20px;
}

.instaicon {
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  .contactForm {
      flex-direction: column;
      width: 90%; /* Adjust width to fit smaller screens */
  }

  .rightContent {
      width: 100%; /* Make content take up full width */
  }

  .leftContent {
      height: auto; /* Remove fixed height */
  }

  .formGroup {
      margin-bottom: 10px; /* Decrease margin between form groups */
  }

  .contact {
      font-size: 36px; /* Decrease font size */
  }

  .contactus {
      width: 100%; /* Make contact button full width */
      margin-top: 20px; /* Increase margin on top */
  }

  .imageContainer {
      height: 300px; /* Decrease height of image container */
  }
}
