.contactForm {
    display: flex;
    border: black 1px solid;
    max-width: 600px; /* Adjust the maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    justify-content: right;
    /* float: right; */
    margin-right: 50px;
    width: 911px;
    height: 900px;
    /* top: 312px;
    left: 429px; */
    gap: 33px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    margin-top: 10px;

    
  }
  
  .leftContent {
    flex: 1;
    padding: 20px;
  }
  
  .rightContent {
    flex: 1;
    padding: 20px;
  }
  
  .formGroup {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .inputContainer {
    position: relative;
    margin: 0;
    padding: 0;
  }
  
  .input {
    width: 100%;
    padding: 2px;
    border: none;
    outline: none;
  }
  
  /* Adjust the hr style to remove border on top */
  .hr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 0;
    border-top: none; /* Remove the border on top */
  }
  
  .text{
    width: 104px;
    height: 24px;
    top: 46px;
    left: 52px;
    gap: 0px;
    opacity: 0px;
    
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: justified;
  }

  .contact{
    width: 300px;
    height: 34px;
    gap: 0px;
    opacity: 0px;
    font-family: Libre Baskerville;
    font-size: 48px;
    font-weight: 700;
    line-height: 59.52px;
    text-align: left;
    color:  #7C7B5D;
    margin-top: 50px;
    }
    
    /* display: inline-block; */
    /* border: 1px solid black; */
  

.contacttext{
    /* width: 81px; */
    height: 24px;
    top: 38px;
    /* left: 61px; */
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: center;
  }

  .contactus{
    width: 157px;
    height: 34px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 1px; 
    font-weight: 500; 
    line-height: 20px;
    text-align: left;
    background: #7C7B5D;
    border-radius: 30px;
    width: 157px;
    height: 34px;
    gap: 0px;
    opacity: 0px;
    border-radius: 30px;



  }

  .rightContent1{
    width: 81px;
    height: 24px;
    top: 38px;
    left: 61px;
    gap: 0px;
    opacity: 0px;
    ;
    
  }

  .rightContent2{
    width: 212px;
    /* height: 24px; */
    top: 67px;
    left: 61px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: left;
    margin-bottom: 20px;
    }

  .rightContent3{
    width: 88px;
height: 24px;
top: 500px;
left: 61px;
gap: 0px;
opacity: 0px;
font-family: Montserrat;
font-size: 20px;
font-weight: 500;
line-height: 24.38px;
text-align: left;
    }
     .rightContent4{
        width: 73px;
    height: 48px;
    top: 158px;
    left: 61px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: left;
    }
.contacttext{
    /* width: 81px; */
    height: 24px;
    top: 38px;
    /* left: 61px; */
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: center;

    
  }

  .contactus{
    width: 157px;
    height: 34px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 20px; 
    font-weight: 500; 
    line-height: 20px;
    text-align: left;
    background: #7C7B5D;
    border-radius: 30px;
  }

  .imageContainer {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 50%; */
    height: 416px;
    z-index: -1; /* Bring the image behind other content */
    display: flex;
    max-width: 600px; /* Adjust the maximum width of the container */
    top: 500px; 
    left: 500px; 
    /* gap: 0px; */
    /* opacity: 0px; */
    /* transform: 89.75 deg;  */

  }

  .rightContent{
    width: 355px;
    height: 305px;
    top: 46px;
    left: 515px;
    gap: 0px;
    opacity: 0px;
    margin-top: 50px;

  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .name{
    width: 104px;
    height: 24px;
    top: 46px;
    left: 52px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: justified;
  }

  .righttext1{
    /* width: 88px; */
    height: 24px;
    top: 129px;
     left: 61px; 
    gap: 0px;
    opacity: 0px;

  }

  .righttext2{

    height: 48px;
    top: 158px;
    left: 61px;
    gap: 0px;
    opacity: 0px;

  }

  .righttext3{
    height: 48px;
    top: 158px;
    left: 61px;
    gap: 0px;
    opacity: 0px;

  }

  /* .Footer{
    
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
      } */

  .newslettersection{
    
    
  }
     