.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 80%;
    padding: 6% 0;
    margin: auto;
}
@media (max-width: 900px) {
    .categories {
        height: auto;
        justify-content: center;
        width: 80%;
        padding: 2%;
    }

}
@media (min-width: 900px) and (max-width: 1200px) {
    .categories {
        height: auto;
        width: 100%;
        padding: 2%; 
    }
}
