.arrivalcontainer{
    margin: 0;
    padding: 0;
    width: 301px;
    height: 5000px;
    top: 4600px;
    left: 527px;
    gap: 0px;
    opacity: 0px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative; 
}

.newarrivalText{
    
    height: 60px;
    top: 4600px;
    left: 620px;
    gap: 0px;
    opacity: 0px;
    font-family: Libre Baskerville;
    font-size: 48px;
    font-weight: 700;
    line-height: 59.52px;
    text-align: center;
    color: #7C7B5D;
    position: relative;
    margin-right: 1100px;
    
}

.paragraph{
    width: 883px;
    height: 24px;
    top: 4650px;
    left: 290px;
    gap: 0px;
    opacity: 0px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24.38px;
    text-align: center;
    color: #282828;
    position: relative;
}
