.arivalcontainer {
    margin: 0 auto; /* Center the container horizontally */
    padding: 5% 0;
    max-width: 100%; /* Ensure the container's width doesn't exceed the viewport */
    height: auto; /* Adjust height automatically based on content */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.newarrivalText {
    font-family: Libre Baskerville;
    font-size: 48px; 
    font-size: clamp(30px, 3vw, 48px);
    font-weight: 700;
    line-height: 40px; /* Adjust line height */
    text-align: center;
    color: #7C7B5D;
    margin: 20px 0;
}

.paragraph {
    margin: 20px 0; /* Add some vertical margin for spacing */
    width: 100%; /* Make the paragraph width responsive */
    max-width: 883px; /* Set a maximum width */
    font-family: Montserrat;
    font-size: 20px;
    font-size: clamp(10px, 3vw, 20px);
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #282828;
}

/* Media query for smaller screens */
/* @media (max-width: 768px) {
    .newarrivalText {
        font-size: 24px;
        line-height: 32px; 
    }

    .paragraph {
        font-size: 14px; 
        line-height: 20px; 
    }
} */
