.footer-nav {
    width: 28%;
}
.footer-menu-title {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 4%;
    margin-bottom: 10%;
    margin-left: 2%;
}
.footer-menu-list {
    margin: 0 5%;
}
.list-item {
    display: flex;
    gap: 2%;
    width: 15rem;
    margin: 8% 0;
    cursor: pointer;
}
.list-item-text {
    list-style: none;
    font-size: 1.25rem;
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-weight: 400;
    width: 100%;
}
.list-item a {
    text-decoration: none; 
    color: var(--white);
}
.list-icon {
    align-self: flex-start;
}
.social-media-icons {
    margin-left: -4%;
    cursor: pointer;
}
.social-media-icons svg {
    width: 1.5rem;
    height: 1.5rem;
}
.social-media-icons span {
    width: 100%;
    margin-right: 5%;
}
.contact .footer-menu-list {
    margin-top: -4%;
}
.contact .footer-menu-list .list-item {
    width: 23rem;
}
.contact .footer-menu-list .list-item .list-icon {
    margin: 0 2%;
}
.contact .footer-menu-list .list-item .list-icon svg {
    width: 1.5rem;
    height: 1.5rem;
}
@media (max-width: 991px) {
    .footer-nav {
        width: 100%;
    }
    .list-item-text {
        font-size: 0.9rem;
    }
    .contact .footer-menu-list .list-item .list-icon {
        margin-left: -4%;
    }
    .contact .footer-menu-title {
        margin-left: -3%;
    }
    .contact .footer-menu-list .list-item {
        width: 15rem;
    }
  
}
@media (min-width: 768px)and (max-width: 991px) {
    .footer-nav {
        width: 33%;
    }
    .list-item-text {
        font-size: 1rem;
    }
    .contact .footer-menu-list .list-item .list-icon {
        margin-left: -4%;
    }
    .contact .footer-menu-title {
        margin-left: -3%;
    }
}
@media (min-width: 991px) and (max-width: 1200px) {
    .footer-nav {
        width: 27%;
    }
}