.footer-menu-title {
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 4%;
    margin-bottom: 10%;
}
.footer-menu-list {
    margin: 0 5%;
}
.list-item {
    display: flex;

}
.list-item-text {
    list-style: none;
    font-size: 1.25rem;
    font-weight: 400;
}
.list-item a {
    text-decoration: none; 
    color: var(--white);
}
.list-icon {
    align-self: flex-start;
}