/* LoginFormFooter.module.css */
.footer {
    text-align: center;
    margin-top: 20px;
    background: #7C7B5D;
    margin-top: 100px;
    font-family: Montserrat;
    color: white;

  }
  
  hr {
    border: 1px solid #ccc;
    width: 40%;
  }
  
  .text {
    margin: -20px 0;
    /* margin-bottom: 50px; */
    font-family: 'Montserrat', sans-serif;
  font-size: 20px;
    font-weight: bold;
  }
  
  .googleButton {
    border: 2px solid white;
    background-color: #7C7B5D;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: border-color 0.3s;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
  }
  .googleButton span {
    font-family: 'Montserrat', sans-serif;
  }
  
  /* .googleButton:hover {
    border-color: blue;
  } */
  
  .gmailIcon {
    width: 20px;
    margin-right: 10px;
    
  }

  .continue {
    color: white;
  }
  
  .terms {
    margin-top: 50px;
    font-family: Montserrat;
    font-size: 14px;
  line-height: 20.3px;
  text-align: center;
  }
  .account {
        font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
    font-size: 14px;
  }

  .already {
font-family: Montserrat;
font-size: 14px;
font-weight: 500;
line-height: 23.2px;
text-align: center;
margin-top: 50px;
}


.login{
  font-family: Montserrat;
  color: white;
  width: Hug (50px)px;
height: Hug (28px)px;
gap: 8px;
opacity: 0px;
}

/* .login:hover{
  color: rgb(215, 228, 26);
} */

  .link {
    color: white;
    text-decoration: underline;
    /* font-family: Montserrat; */
}

  .line1{
    margin-right: 60%;
}

  .line2{
    margin-left: 60%;
  }
  .link {
    
    text-decoration: underline;
    font-family: Montserrat;
    
  }
  
  /* .link:hover {
    color: darkblue;
  } */

  
  
