.faq {
    margin: auto;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    padding: 4% 0;
}
.text {
    text-align: center;
}
.title {
    font-family: 'Libre Baskerville', 'Helvetica Neue';
    font-weight: 700;
    color: var(--olive);
    font-size: 3rem;
    font-size: clamp(2rem, 3vw, 3rem);
}
.description {
    font-weight: 400;
    font-size: 1.25rem;
    font-size: clamp(1rem, 3vw, 1.25rem);
    color: var(--darkGrey);
    margin-top: -4%;
}
.container {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 3rem;
}
.img-container {
    width: 35rem;
    align-self: center;
}
.img-container img {
    width: 100%;
}
.questions-container {
    width: 50rem;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--mediumGrey);
    color: var(--darkGrey);
    width: 100%;
    height: 6.6rem;
    margin: 3% 0;
    padding: 0 2%;
}
.question-text {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.25rem;
    font-size: clamp(1rem, 3vw, 1.25rem);
    text-align: left;
}
.icon {
    cursor: pointer;
}
@media (max-width: 991px) {
   .container {
     flex-wrap: wrap;
     justify-content: center;
   }
   .img-container {
       width: 70%;
       padding-bottom: 5%;
   }
}
@media (min-width: 991px) and (max-width: 1200px) {
    .img-container {
        width: 45rem;
    }
}

