.faq {
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    padding: 5% 0;
    gap: 5%;
}
.text {
    text-align: left;
}
.title {
    font-family: 'Libre Baskerville', 'Helvetica Neue';
    font-weight: 700;
    color: var(--olive);
    font-size: 3rem;
    font-size: clamp(2rem, 3vw, 3rem);
    margin-top: 5%;
}
.description {
    font-weight: 400;
    font-size: 1.25rem;
    font-size: clamp(1rem, 3vw, 1.25rem);
    color: var(--darkGrey);
    margin: 5% 0;
}
.contact-btn {
    border: 1px solid var(--olive);
    color: var(--mediumGrey2);
    background-color: var(--white);
    padding: 1.8% 4%;
    border-radius: 4px;
    font-size: 1.25rem;
    font-size: clamp(1rem, 3vw, 1.25rem);
    cursor: pointer;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--mediumGrey);
    color: var(--darkGrey);
    width: 39rem;
    height: 6.6rem;
    margin: 3% 0;
    padding: 0 2%;
}
.question-text {
    cursor: pointer;
    font-weight: 600;
    font-size: 1.25rem;
    font-size: clamp(1rem, 3vw, 1.25rem);
    text-align: left;
}
.icon {
    cursor: pointer;
}
@media (max-width: 1200px) {
    .faq {
        width: 90%;
        justify-content: center;
    }
    .text {
        text-align: center;
    } 
    .question {
        width: 100%;
    }
}