.banner {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 2%;

}
.discountImg {
  width: 710px;
  height: 347px;
  color: #EDE9E6;
  line-height: normal;
  position: relative;
  z-index: -1;
}
.discountImg img {
  width: 100%;
}
.discountSection {
  width: 538px;
  height: 239px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  background-color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.discountText {
  /* font-size: 12px;
  font-size: clamp(8px, 3vw, 12px); */
  line-height: normal;
  text-align: center;
  z-index: 1; /* Set z-index to 1 to ensure it appears above the banner */
  border: 2px solid transparent;
  padding: 10% 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.discountTitle {
  font-family: Libre Baskerville;
  font-size: 40px;
  font-size: clamp(32px, 3vw, 40px);
  font-weight: 700;
  color: #7C7B5D;  
}
.para {
  font-size: 1.25rem;
  font-size: clamp(1rem, 3vw, 1.25rem);
  color: var(--black);
  margin-bottom: 9%;
}
.link{
    color: #7C7B5D;
    font-size: 20px;
    font-size: clamp(18px, 3vw, 20px);
    padding-bottom: 5%;
    text-decoration: none;
    border-bottom: 1px solid var(--olive);
}

@media (max-width: 990px) {
    .banner {
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      width: 80%;
      height: auto;
    }
    .discountImg {
      width: 100%

    }

}






/* .card {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
} */



/* .discountSection {
  width: 50%;
  max-width: 20%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  margin-right: 20px;
  position: relative; /* Use relative positioning for overlap */
  /* z-index: 2; */
  /* background-color: white; */
  /* } */ 

  
 

/*   
  .discount1, .discount2 {
    width: 100%; /* Set width to 100% to make them take up the full width */
    /* max-width: 40%; /* Limit maximum width to 50% to ensure they stay side by side */
    /* height: auto; Adjust height automatically based on content */
    /* display: flex; */
    /* gap: 0px; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    /* color: #EDE9E6; Adjust text color */
    /* line-height: normal; Reset line height */
    /* position: relative; Use relative positioning */
    /* margin-right: 20px; Add some margin between the boxes */
    /* z-index: 1; Set z-index to 1 to ensure they appear above the banner */
  /* }  */
  
  
    

  
 
  
 

/* .paragraph{

   width: 294px; 
   height: 10px;
   gap: 0px;
   opacity: 0px;
   font-family: Montserrat;
   font-size: 12px;
   font-weight: 500;
   color: #282828;
   text-align: center;
   margin-top: 50px;
   margin-left: -40px;
} */

