/* App.css */

.app {
  display: flex;
  justify-content: center; /* Align cards to the center horizontally */
  color: blueviolet;
}

/* Card.module.css */

.card {
  display: flex;
  flex-direction: column; /* Display cards vertically */
  align-items: center; /* Align items to the center horizontally */
  padding: 20px; /* Adjust padding for smaller screens */
  margin: 0 auto; /* Center horizontally */
  max-width: 200px; /* Adjust card width as needed */
  gap: 10px;
}

.logo {
  width: 20px; /* Adjust logo size as needed */
  height: 50px; /* Adjust logo size as needed */
  margin-right: 20px; /* Adjust margin for smaller screens */
  margin-left: -250px;
  margin-top: -40px;

}

.content {
  width: 100%; /* Adjust width to fill the container */
  max-width: 150px; /* Limit maximum width */
  gap: 5px;
  opacity: 0px;
  margin-top: -30px;
}

.heading {
  display: inline;
  width: 100%; /* Adjust width to fill the container */
  max-width: 100px; /* Limit maximum width */
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
  color: #282828;
  margin-top: -20px;
}

.description {
  width: 100%; /* Adjust width to fill the container */
  max-width: 176px; /* Limit maximum width */
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 19.5px;
  text-align: left;
  color: #4F4B4B;
}

@media (max-width: 768px) {
  .card {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .content {
    margin-left: 0; /* Remove left margin for smaller screens */
  }
}
