/* App.css */

.app {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 90%;
}

/* Card.module.css */

.card {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items to the center horizontally */
  width: 274px; 
  border-right: 0.5px solid var(--mediumGrey);
  padding-right: 5%;
  gap: 3%;
  text-wrap: nowrap;
  cursor: pointer;
}
.card:last-child {
  border: none;
}

.logo svg {
  width: 3rem; 
  height: 3rem; 
  /* margin-right: 20px; 
  margin-left: -250px;
  margin-top: -40px; */

}

.content {
  /* width: 100%;  */
  /* max-width: 150px; 
  gap: 5px;
  opacity: 0px;
  margin-top: -30px; */
  text-align: left;
  font-family: Montserrat;
}

.heading {
  /* display: inline; */
  /* width: 100%;  */
  font-size: 14px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
  color: #282828;
  /* margin-top: -20px; */
}

.description {
  /* width: 100%;  */
  max-width: 176px; 
  font-size: 12px;
  font-weight: 300;
  line-height: 19.5px;
  color: #4F4B4B;
}

@media (max-width: 768px) {
  .app {
    justify-content: center;
    flex-wrap: wrap;

    

  }
  .card {
    padding: 10px; /* Adjust padding for smaller screens */
    border: none;
    width: 80%;
}
}