/* App.css */

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Align cards to the center horizontally */
  align-items: center;
  width: 80%;
}

/* Card.module.css */

.card {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items to the center horizontally */
  width: 274px; 
}

.logo svg {
  width: 3rem; 
  height: 3rem; 
  /* margin-right: 20px; 
  margin-left: -250px;
  margin-top: -40px; */

}

/* .content {
  width: 100%; 
  max-width: 150px; 
  gap: 5px;
  opacity: 0px;
  margin-top: -30px;
} */

/* .heading {
  display: inline;
  width: 100%; 
  max-width: 100px;
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
  color: #282828;
  margin-top: -20px;
} */

/* .description {
  width: 100%; 
  max-width: 176px; 
  gap: 0px;
  opacity: 0px;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 300;
  line-height: 19.5px;
  text-align: left;
  color: #4F4B4B;
} */

@media (max-width: 768px) {
  .card {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .content {
    margin-left: 0; /* Remove left margin for smaller screens */
  }
}
