.products-grid-wrapper {
    width: 70%;
    font-family: 'Montserrat', 'Helvetica Neue';
    font-weight: 500;
    font-size: 1.25rem;
    padding: 0 3%;
}
.showing {
    padding: 8% 0;
    text-align: left;
}
.products-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    gap: 2%;
}
.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 18.4rem;
    height: 32rem;
    padding: 2% 0;
    margin-bottom: 10%;
    cursor: pointer;
    position: relative;
}
.product-card img {
    width: 100%;
    height: 21rem;
}
.heart {
    border-radius: 50%;
    padding: 1.6%;
    padding-top: 3%;
    color: var(--olive);
    background-color: var(--white);
    position: absolute ;
    top: 55%;
    right: 4%;
}
.heart svg {
    width: 2.3rem;
    height: 1.8rem;
}
.title {
    font-size: 1.2rem;
    font-weight: 600;
}
.stars {
    color: var(--olive);
    font-size: 1.6rem;
}
@media (max-width: 900px) {
    .showing {
        text-align: center;
    }
    .products-grid {
        justify-content: center;
    }
    .product-card {
        width: 70%;
    }
}
@media (min-width: 900px) and (max-width: 1200px) {
    .product-card {
        width: 45%;
    }
}
