.logo {
    width: 18%;
}
.logoImage {
    width: 100%;
}

/* @media (max-width: 600px) {
    .logo {
        width: 18%;
    }
}
@media (min-width: 600px) and (max-width: 900px) {
    .logo {
        width: 16%;
    }
} */

