.icons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    gap: 2.5rem;
    width: 20%;
}
.icons-wrapper {
    gap: 1rem;
}
.icon {
    cursor: pointer;
}
.icon svg {
    width: clamp(1rem , 3vw, 1.2rem);
    height: clamp(1rem , 3vw, 1.2rem);
    color: var(--olive);
    transition: all 0.2s ease-in-out;
}
.icon:hover svg {
    color: var(--darkGrey);
    transform: scale(1.2);
}
@media (max-width: 990px) {
    .icons-wrapper {
        gap: 0.2rem;
    }
}